*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
header{
     background-color:#0084FD ;
}

.nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 90%;
    max-width: 1152px;
    margin: auto;
   

}
.container{
    max-width: 1152px;
    width: 90%;
    margin: auto;
}

.container .col-12{
    background-color:#B5DDFF ;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    color:#5B6F80 ;
}
.container .col-12 h2{
    color: #0084FD;
    margin-bottom: 20px;
}
.col-md-8{
    display: flex;
    flex-direction: column;
    
}
.app_store{
    background-color: #0084FD;
    padding: 10px;
    border-radius: 20px;
    margin: 40px 0;
    max-width:258px ;
}


.icon{
    color: #0084FD;
    font-size: 70px;
    margin-bottom: 15px;
}
.phone{
    max-height:287px ;
    max-width: 258px;
    margin-bottom: -15px;
   
}


/*utility*/
.white{
    color: white;
}
.flex{
    display: flex;
}
.d-none{
    display: none;
}
.col-12{
    width:100% ;
}
.ta-center{
    text-align: center;
}
.ta-left{
    text-align: left;
}

/*utility*/
/*btn*/
.nav_lg .btn_white{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
}
/*btn*/



/*md*/
@media screen and (min-width:768px){
    /*uti*/
    .col-md-8{
        width: calc(100% / 12 * 8 - 1%) ;
       
    }
    .col-md-4{
        width: calc(100% / 12 * 4 - 2%);

    }
    /*uti*/
    .blue{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-md-4 p{
        line-height:1.6;
    }
}
/*md*/

/*lg*/

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

@media screen and (min-width:1024px) {

    
    .d-lg-none{
        display: none;
    }
    .d-lg-block{
        display: block
    }
    
    .col-md-8{
        flex-direction: row;
    }
    
    
}
/*lg*/